
div.background
{
  height:320px;
  width:480px;
  color: #000000;
  background-color: #FAEBD7;
}

/* classes */
/* class attributes for all buttons that aren't their own class */
.myButtons
{
 position: absolute;
 background-color: #D2B48C;
 padding: 2px 2px 2px 2px;
 border-style: solid;
 border-width: 2px;
 border-color: #000000;
 text-align: center;
 font-size: 10pt;
 color: #000000;
 font-family: "Verdana";
 margin: 6px 4px 6px 6px;
 -webkit-border-radius: 4px;
}

.yourName
{
  position: absolute;
  height: 120px;
  width: 200px;
  background-color: orange;
  padding: 2px 2px 2px 2px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  font-size: 10pt;
  text-align: center;
  top: 80px;
  left: 150px;
  color: #000000;
  font-family: "Verdana"
  margin: 6px 4px 6px 6px;
  -webkit-border-radius: 4px;
}

.instructions1
{
  position: absolute;
  height: 120px;
  width: 200px;
  background-color: #D2B48C;
  padding: 2px 2px 2px 2px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  font-size: 10pt;
  text-align: center;
  top: 60px;
  left: 250px;
  color: #000000;
  font-family: "Verdana"
  margin: 6px 4px 6px 6px;
  -webkit-border-radius: 4px;
}
.itemlist
{
  position: absolute;
  height: 30px;
  width: 160px;
  background-color: #D2B48C;
  padding: 2px 2px 2px 2px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  font-size: 10pt;
  text-align: center;
  top: 40px;
  left: 50px;
  color: #000000;
  font-family: "Verdana"
  margin: 6px 4px 6px 6px;
  -webkit-border-radius: 4px;
}

#Organic
{
 top 60px;
 font-size=12pt;
}

#Regular
{
  font-size=12pt;
  top: 80px;
}
div.resumeGame
{
  height: 128px;
  width: 175px;
  font-size: 12pt;
  text-align: center;
  color: #808080;
  font-family: "Verdana"
  margin: 6px 4px 6px 6px;
  -webkit-border-radius: 4px;
}

.score
{
 height: 128px;
 width: 220px;
 font-size: 13pt;
 position: absolute;
 background-color: #D2B48C;
 padding: 2px 2px 2px 2px;
 border-style: solid;
 border-width: 2px;
 border-color: #000000;
 text-align: center;
 color: #000000;
 font-family: "Verdana";
 margin: 6px 4px 6px 6px;
 -webkit-border-radius: 4px;
}

.cart
{
  position: absolute;
  background-image: url('../images/shoppingcart128rightface.png');
  height: 128px;
  width: 128px;
  top:160px;
  left: 20px;
  -webkit-transition-property: left;
  -webkit-transition-duration: 2s;
}

.cart_moved
{
  left: 480px;
}

.cartBounce
{
  top: 80px;
}

.cart_invisible
{
  visibility:hidden;
}


.milkType
{
  height: 20px;
  width: 50px;
  left: 30px;
}
.item
{
  height: 20px;
  width: 50px;
  background-color: #D2B48C;
  padding: 2px 2px 2px 2px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  font-size: 8pt;
  text-align: center;
  color: #000000;
  font-family: "Verdana"
  margin: 6px 4px 6px 6px;
  -webkit-border-radius: 4px;
}
#items
{
 z-index:100;

}
.milkList
{
  position: absolute;
  height: 100px;
  width: 160px;
  background-color: #D2B48C;
  padding: 2px 2px 2px 2px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  font-size: 10pt;
  text-align: center;
  top: 40px;
  left: 50px;
  color: #000000;
  font-family: "Verdana"
  margin: 6px 4px 6px 6px;
  -webkit-border-radius: 4px;
}

.listClicked
{
  position: absolute;
  height: 80px;
  width: 60px;
  background-color: yellow;
  padding: 2px 2px 2px 2px;
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
  font-size: 10pt;
  text-align: center;
  top: 40px;
  left: 50px;
  color: #000000;
  font-family: "Verdana"
  margin: 6px 4px 6px 6px;
  -webkit-border-radius: 4px;

}

/*ids */

/* uses class myButtons */
#inputName
{
  height: 30px;
  width: 50px;
  top: 20px;
  left: 50px;
}

/* uses class myButtons */
#instructions
{
  height: 30px;
  width: 120px;
  top:20px;
  left: 340px;
}

#title
{
  position: absolute;
  border-color: #000000;
  font-size: 20pt;
  top:80px;
  height: 100px;
  width: 250px;
  left: 120px;
  text-align: center;
  color: #000000;
  font-family: "Verdana"
}

#aisle_bg
{
  position: absolute;
  top:80px;
  left: 100px;
  width: 320px;
  height: 240px ;
  background-color: red;
}

/* uses class resumeGame */

#resumeGame
{
  position: absolute;
  top: 180px;
  left: 320px;
}

/* uses class score */
#score, #score1
{
  position: absolute;
  top: 243px;
  left: 47px;
}

/* uses class myButtons */
#oneDay
{
  height: 30px;
  width: 80px;
  top:30px;
  left: 120px;
}
/* uses class myButtons */
#oneWeek
{
  height: 30px;
  width: 80px;
  top:30px;
  left: 240px;
}
/* uses class myButtons */
#oneMonth
{
  height: 30px;
  width: 80px;
  top:30px;
  left: 360px;
}

/* uses class myButtons */
#timer
{
  height: 10px;
  width: 30px;
  font-size: 6pt;
  top: 10px;
  left: 360px;
}

/* uses class score */
#score
{
  height: 10px;
  width: 30px;
  font-size: 6pt;
  top: 30px;
  left: 360px;
}

/* button to go to bonus round. uses class myButtons */
#bonusRound
{
  height: 25px;
  width: 70px;
  font-size: 8pt;
  top: 10px;
  left: 370px;
}

/* the final score box. uses class myButtons */
#finalScore
{
  height: 25px;
  width: 150px;
  font-size: 8pt;
  text-align: left;
  top: 40px;
  left: 150px;
}
/*the final time box uses class myButtons */
#finalTime
{
  height: 25px;
  width:150px;
  text-align: left;
  top:70px;
  left: 150px;
}

/* list of things put into cart uses class myButtons  */
#finalList
{
  height: 150px;
  width: 150px;
  font-size: 8pt;
  text-align: left;
  top:100px;
left: 150px;
}


